.navButton {
    color: rgb(224, 34, 34);
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 2vh;
    left: 26vw;
  }
  
  .navButton:hover {
    text-decoration: underline;
  }