.navButton {
    color: rgb(196, 27, 27);
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 2vh;
    left: 55vw;
  }
  
.navButton:hover {
    text-decoration: underline;
  }