@keyframes fadeIn {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

.sidebar {
  width: 225px;
  background-color: #f4f4f4;
  padding: 2px;
  position: fixed;
  top: 0; /* Start from the top of the viewport */
  left: 0;
  height: calc(100% - 64.5px); /* Subtract the height of the navbar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px; /* Add margin to account for the navbar */
  z-index: 100;
  border: 0.5px solid lightgray;
  animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
}

.sidebarButton {
  display: block;
  width: 75%;
  height: 65px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
  border: 2px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
}

.sidebarButton:hover {
  background-color: red;
}

.popup {
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.popupContent {
  position: relative;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  bottom: 2px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.boldText {
  font-weight: bold;
  font-size: 18px;
}