@keyframes fadeIn {
    from {
      opacity: 0.25;
    }
    to {
      opacity: 1;
    }
  }
  


.spreadsheetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-left: 225.4px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
    border: 1px solid LIGHTgray;
    animation: fadeIn 0.75s ease-in-out; /* Apply fade-in animation */
  }
  
  .spreadsheet {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: white;
    z-index: 1;
    animation: fadeIn 0.75s ease-in-out; /* Apply fade-in animation */
  }
  
  .spreadsheet th,
  .spreadsheet td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .spreadsheet th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .spreadsheet tr {
    height: 42.95px; /* Set a fixed height for all rows */
  }
